<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LogInScreen</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group"><img src="assets/img/pocetna%20slika.png"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <form>
                    <div class="form-group text-center"><label>Username</label></div>
                    <div class="form-group text-center"><label>Password</label></div>
                </form>
            </div>
            <div class="col">
                <form>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Unesite Vaš username"></div>
                    <div class="form-group"><input class="form-control" type="password" placeholder="Unesite password"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group"><button class="btn btn-primary border rounded" type="button">Log In</button></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group"><button class="btn btn-primary bg-primary border rounded" type="button">Sign Up</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>