<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up Screen</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <form>
            <div class="form-group">
                <div class="form-row">
                    <div class="col text-center"><label class="text-uppercase text-center border rounded shadow-lg" style="width: 508px;height: 37px;">Osnovne informacije</label>
                        <div class="form-row">
                            <div class="col" style="width: 310px;"><label class="col-form-label text-center" style="width: 266px;">Ime</label></div>
                            <div class="col"><input class="form-control" type="text" style="width: 249px;" placeholder="Unesite Vaše ime"></div>
                        </div>
                        <div class="form-row">
                            <div class="col" style="width: 456px;"><label class="col-form-label text-center" style="height: 38px;width: 267px;">Prezime</label></div>
                            <div class="col"><input class="form-control" type="text" style="width: 249px;" placeholder="Unesite Vaše prezime"></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label text-center" style="width: 266px;">Datum rođenja</label></div>
                            <div class="col"><input class="form-control" type="date" style="width: 250px;"></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label text-uppercase text-center border rounded shadow-lg" style="width: 511px;height: 42px;">Administrativni podaci</label></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">JMBG</label></div>
                            <div class="col"><input class="form-control" type="text" placeholder="Jedinstveni matični broj" style="width: 251px;"></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Broj lične karte</label></div>
                            <div class="col"><input class="form-control" type="text" placeholder="Broj lične karte" style="width: 252px;"></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Unesite željeni password</label></div>
                            <div class="col"><input class="form-control" type="password" style="width: 252px;height: 38px;"></div>
                        </div>
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Ponovite password</label></div>
                            <div class="col"><input class="form-control" type="password" style="width: 251px;"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="col" style="width: 319px;height: 589px;">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-check" style="margin: 46px;"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Da li konzumirate cigarete?</label></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-check" style="margin: 44px;"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Imate li zdravstveno osiguranje?</label></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-check" style="margin: 42px;"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Da li konzumirate alkohol?</label></div>
                                    </div>
                                </div><button class="btn btn-light btn-lg" type="button" style="margin: 44px;width: 157px;height: 64px;">Završeno</button></div>
                            <div class="col" style="width: 318px;"><img src="assets/img/pocetna%20slika%20-%20rotirana.png" style="width: 201px;height: 499px;margin: 32px;padding: -12px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>