@{
    ViewData["Title"] = "Admin main page";
}
<div class="container">
    <form>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" style="font-size: 33px;">Dobro došli! (admin)</label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" style="font-size: 25px;margin: 12px;">Pregled računa pacijenata</label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label text-center" style="width: 270px;">Unesite ime pacijenta</label></div>
                        <div class="col"><input class="form-control" type="text" placeholder="Unesite username pacijenta"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><button class="btn btn-primary" type="button">PRETRAŽI</button></div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                                <li>Item 4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" style="margin: 21px;font-size: 25px;">Dodjela uloga i privliegija</label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label text-center" style="width: 271px;">Username</label></div>
                        <div class="col"><input class="form-control" type="text" placeholder="Unesite username"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label text-center" style="width: 271px;">Uloga</label></div>
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown </button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col"><button class="btn btn-primary" type="button" style="width: 177px;">DODIJELI</button></div>
                    </div>
                </div>
                <div class="col"><img src="assets/img/pocetna%20slika%20-%20rotirana.png" style="width: 168px;margin: 51px;padding: 9px;height: 486px;"></div>
            </div>
        </div>
    </form>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
